{% extends "base.html" %} {% block content %}

<div class="rounded overflow-hidden shadow-lg">
    {% if brew.image_url%}
        <img class="w-1/4" src="{{ brew.image_url }}" alt="Coffee">
    {% else %}
        <img class="w-1/4" src="{{ url_for('static', filename='images/coffee.jpg') }}" alt="Coffee">
    {% endif %}
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{ brew.name }}</div>
        {% if (brew.created_by == session['user']) %}
        <a href="{{ url_for('edit_brew', id=brew._id) }}">Edit</a>
        <a href="{{ url_for('delete_brew', id=brew._id) }}">Delete</a>
        {% endif %}
        <div class="font-bold text-lg mb-2">{{ brew.created_by }}</div>
        <p class="text-gray-700 text-base">{{ brew.description }}</p>
    </div>
    <div class="px-6 pt-4 pb-2">
        <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >{{ brew.flavour }}</span
        >
    </div>
    
    <form action="{{ url_for('post_comment', brew_id=brew._id) }}" method="post">
        <label for="comment">Comment:</label>
        <input type="text" name="comment" id="comment" required minlength="10">
        <button type="submit">Post Comment</button>
    </form>
    <ul>
        {% for comment in comments %}
        <li>{{comment.text}}</li>
        {% if comment.created_by == session['user'] %}
        <a href="{{ url_for('delete_comment', id=comment._id, brew_id=brew._id) }}">
            Delete
        </a>
        {% endif %}
        {% endfor %}
    </ul>
</div>

{% endblock %}
