{% extends "base.html" %}
{% block title %} Brews {% endblock %}
{% block content %}

<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-5">
    {% for brew in brews %}
        <a href="{{ url_for('brew', id=brew._id)}}">
            <div class="brew rounded overflow-hidden shadow-lg">
                <div
                    class="flex relative w-full h-48 bg-gray-200 overflow-hidden"
                >
                    {% if brew.image_url%}
                        <img class="max-w-full h-[100%] m-auto object-fill object-center" src="{{ brew.image_url }}" alt="Coffee">
                    {% else %}
                        <img class="max-w-full h-[100%] m-auto object-fill object-center" src="{{ url_for('static', filename='images/coffee.svg') }}" alt="Coffee">
                    {% endif %}
                </div>
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">
                            {{ brew.name }}
                    </div>
                    <div class="font-bold text-lg mb-2">{{ brew.created_by }}</div>
                    <p class="text-gray-700 text-base h-48 overflow-y-clip text-ellipsis break-words">
                        {{ brew.description }}
                    </p>
                </div>
                <div class="px-6 pt-4 pb-2">
                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ brew.flavour }}</span>
                </div>
            </div>
        </a>
    {% else %}
        <h2>No brews found</h2>
    {% endfor %}
</div>

{% endblock %}