{% extends "base.html" %}
{% block title %} Edit Brew {% endblock %}
{% block content %}
<div class="m-8 w-full max-w-2xl">
    <form
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
    method="POST"
    action="{{ url_for('edit_brew', id=brew._id) }}"
    >
        <!-- Brew Name -->
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                Name
            </label>
            <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="name"
            name="name"
            type="text"
            placeholder="Name"
            minlength="5"
            maxlength="25"
            value="{{brew.name}}"
            required
            />
        </div>
        <!-- Brew Description -->
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
                Description
            </label>
            <textarea
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="description"
            name="description"
            placeholder="Description"
            rows="6"
            style="resize: none;"
            minlength="25"
            required
        />{{brew.description}}</textarea>
        </div>
        <!-- Flavour selector -->
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="flavour">
                Flavour
            </label>
            <select
                name="flavour"
                id="flavour"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 bg-white leading-tight focus:outline-none focus:shadow-outline"
            >
                <option value="" disabled>Select flavour</option>
                {% for flavour in flavours %}
                    {% if flavour.flavour_name == brew.flavour %}
                        <option selected value="{{ flavour.flavour_name }}">{{ flavour.flavour_name }}</option>
                    {% else %}
                        <option value="{{ flavour.flavour_name }}">{{ flavour.flavour_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <!-- Submit -->
        <div class="flex items-center justify-between">
            <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit"
                >
                Edit
            </button>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/form_validator.js')}}"></script>
{% endblock %}